@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/***************************************************************************** 
animation-delay	          Specifies a delay for the start of an animation
animation-direction	      Specifies whether an animation should be played forwards, backwards or in alternate cycles
animation-duration	      Specifies how long time an animation should take to complete one cycle
animation-fill-mode	      Specifies a style for the element when the animation is not playing (before it starts, after it ends, or both)
animation-iteration-count	Specifies the number of times an animation should be played
animation-name	          Specifies the name of the @keyframes animation
animation-play-state	    Specifies whether the animation is running or paused
animation-timing-function	Specifies the speed curve of the animation 
*****************************************************************************/


@keyframes head-spin {
  from { 
    transform: rotateY(0deg); 
    /* border-radius: 0; */
  }
  /* 25% {
    border-radius: 50%;
  }
  50% {
    border-radius: 50px;
  } */
  to { 
    transform: rotateY(180deg); 
    /* border-radius: 25px; */
  }
}

.spin {
  animation: head-spin /*linear*/ 4s; 
  transform: rotateX(180deg);
}

.head {
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
  height: 200px;
  width: 200px;
  background: slategray;
  border-radius: 10px;
  cursor: pointer;
}

.eye {
  justify-content: space-around;
  align-self: center;
  background: white;
  border-radius: 50%;
  height: 25px;
  width: 25px;
}

.chest {
  margin-top: 10px;
  height: 300px;
  width: 400px;
  background: slategray;
  border-radius: 5px;
}

.legs-container {
  display: flex;
}

.leg {
  height: 300px;
  width: 100px;
  background: slategray;
  margin: 10px;
  border-radius: 5px;
}