@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}

/***************************************/

@keyframes thing-1-spin {
  from { 
    transform: rotate(0deg); 
    /* border-radius: 0; */
  }
  25% {
    border-radius: 50%;
  }
  50% {
    border-radius: 50px;
  }
  to { 
    transform: rotate(180deg); 
    /* border-radius: 25px; */
  }
}

.spin {
  animation: thing-1-spin 4s; 
  transform: rotate(180deg);
}

.thing-1 {
  height: 200px;
  width: 200px;
  background: slategray;
  cursor: pointer;
  /* border-radius: 25px; */
}

