@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}

/***************************************************************************** 
animation-delay	          Specifies a delay for the start of an animation
animation-direction	      Specifies whether an animation should be played forwards, backwards or in alternate cycles
animation-duration	      Specifies how long time an animation should take to complete one cycle
animation-fill-mode	      Specifies a style for the element when the animation is not playing (before it starts, after it ends, or both)
animation-iteration-count	Specifies the number of times an animation should be played
animation-name	          Specifies the name of the @keyframes animation
animation-play-state	    Specifies whether the animation is running or paused
animation-timing-function	Specifies the speed curve of the animation 
*****************************************************************************/


@keyframes thing-1-spin {
  from { 
    transform: rotate(0deg); 
    /* border-radius: 0; */
  }
  25% {
    border-radius: 50%;
  }
  50% {
    border-radius: 50px;
  }
  to { 
    transform: rotate(180deg); 
    /* border-radius: 25px; */
  }
}

.spin {
  animation: thing-1-spin 4s; 
  transform: rotate(180deg);
}

.thing-1 {
  height: 200px;
  width: 200px;
  background: slategray;
  cursor: pointer;
  /* border-radius: 25px; */
}

